<h1>Login</h1>

<div class="form">
<form action="/sessions" method="POST">

    <div class=input_label>
    <label for="">Email</label>
    <input type="text" name="email">
    </div>

    <div class=input_label>
    <label for="">Password</label>
    <input type="text" name="password">
    </div>

    <button>Login</button>
</form>
</div>
