<h1>Sign in to Crypto Ape</h1>

<div class="form">
<form action="/sessions" method="POST">

    <div class=input_label>
    <label for="">Email</label>
    <input type="text" name="email">
    </div>

    <div class=input_label>
    <label for="">Password</label>
    <input type="text" name="password">
    </div>

    <p>Don't have an account? <a href="/sign_up">Create an account</a></p>

    <button>Sign in </button>
</form>
</div>

<link rel="stylesheet" href="/stylesheets/login.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
