<h1>Update/Add image</h1>

<form action="/coin/<%= coin['id'] %>" method="POST">
    <input type="hidden" name="_method" value="put">
    
    <label for="">Image URL</label>
    <input type="text" name="image_url" value="<%= coin['image_url'] %>">

    <button>Update/Add image</button>
</form>

<a href="/">home</a>