<h1>Add Coin</h1>
<form action="/coins" method="POST">
    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Image URL</label>
    <input type="text" name="image_url">

    <button>Add coin</button>
</form>