<h1>Create an account</h1>

<div class="form">
<form action="/users" method="POST">
    
    <div class=input_label>
    <label for="" id="first_name">First Name</label>
    <input type="text" name="first_name" placeholder="Enter your first name...">
    </div>
    
    <div class=input_label>
    <label for="" id="first_name">Last Name</label>
    <input type="text" name="last_name" placeholder="Enter your last name...">
    </div>
    
    <div class=input_label>
    <label for="">Email</label>
    <input type="text" name="email" placeholder="Enter your email...">
    </div>
    
    <div class=input_label>
    <label for="">Password</label>
    <input type="text" name="password" placeholder="Enter your password">
    </div>
    
    <button>Sign Up</button>
</form>
</div>

